Having been in the Electrical industry for over 30 years, we are excited to be able to offer the following services to backup both Home owners and Electrical contractors.
![map]({{site.url}}/images/range-map.png)
<fieldset>
	<form action="/send_email.php">
		<h2>Form Element</h2>
		<p>YEAH! ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>

    <input type="text" name="name" title="First Name" placeholder="First Name" required="true"/>
    <input type="text" name="email" title="Last Name" placeholder="Email" required="true"/>
    <textarea name="message" title="message" required="true" ></textarea>


		<p>
			<input class="btn" type="submit" value="Submit" />
		</p>
	</form>
</fieldset>
