
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<fieldset>
	<form method="post" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>#contact">
		<h2>Contact Form</h2>
		<p>Please select the service required below and we will get back to you.</p>
		<a name="contact"></a>
		<!--DROPDOWN enquiry type-->
		<label for="enquiry">Service required:</label>
		<select name='enquiry'>
			<option value="Training">Training</option>
			<option value="Inspection">Inspection</option>
			<option value="Other">Other</option>
		</select>

		<!--TEXTBOX name-->
		<label for="name">Name:  <span class="error"><?php echo $nameErr;?></span></label>
    <input type="text" name="name" title="Name" placeholder="Name" required="true" value="<?php echo $name;?>"/>
		<!--TEXTBOX email-->
		<label for="email">Email address:  <span class="error"><?php echo $emailErr;?></label>
		<input type="text" name="email" title="email" placeholder="Email" required="true" value="<?php echo $email;?>"/>
		<!--TEXTBOX message-->
		<label for="message">How can we help?  <span class="error"><?php echo $messageErr;?></label>
		<textarea name="message" title="message" placeholder="How can we help?" required="true"><?php echo $message;?></textarea>

		<p>
			<div class="g-recaptcha" data-sitekey="6Lf0ExEUAAAAALrslmkYVs0WaucAGf6erteHzTRv"></div>
			<label><span class="error"><?php echo $errMsg; ?></span></label>
			<input class="btn" type="submit" name="submit" value="Submit" />
		</p>
	</form>
</fieldset>
