![map]({{site.url}}/images/range-map.png)
Having been in the Electrical industry for over 30 years, we are excited to be able to offer the following services to backup both Home owners and Electrical contractors.

Mobile:
Email:
<fieldset>
	<form action="/send_email.php">
		<h2>Contact Form</h2>

		
		<p>If you have any queries, please select the group from the dropdown below and we will get back to you.</p>

		<!--DROPDOWN enquiry type-->
		<select name='enquiry'>
			<option value="Training">Training</option>
			<option value="Inspection">Inspection</option>
			<option value="Other">Other</option>
		</select>

		<!--TEXTBOX name-->
    <input type="text" name="name" title="Name" placeholder="Name" required="true"/>
		<!--TEXTBOX email-->
		<input type="text" name="email" title="Last Name" placeholder="Email" required="true"/>
		<!--TEXTBOX message-->
		<textarea name="message" title="message" placeholder="How can we help?" required="true" ></textarea>


		<p>
			<input class="btn" type="submit" value="Submit" />
		</p>
	</form>
</fieldset>
