<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<fieldset>
	<form action="/send_email.php" method="post">
		<h2>Registration Form </h2>
		<p>Electrical re-registration training.  <br>Please complete all fields in full.</p>
		<label for="text_field">First name:</label>
		<input type="text" name="first_name" />
		<label for="text_field">Last name:</label>
		<input type="text" name="last_name" />
		<label for="text_field">Postal address:</label>
		<input type="text" name="address" />
		<label for="text_field">City:</label>
		<input type="text" name="city" />
		<label for="text_field">Post code:</label>
		<input type="text" name="postcode" />
		<label for="text_field">Phone:</label>
		<input type="text" name="phone" />
		<label for="text_field">Email address:</label>
		<input type="text" name="email" />
		<label for="text_field">EW ID number:</label>
		<input type="text" name="ew_id" />
		<label for="text_field">EW registration number:</label>
		<input type="text" name="ew_reg" />
		<p>
			<label for="reg_type">Registration type:</label>
			<select name="reg_type">
					<option value="1">Trainee</option>
					<option value="2">Substation maintener</option>
					<option value="3">Cable jointer</option>
					<option value="4">Distribution line mechanic</option>
					<option value="5">Associated trades person</option>
					<option value="6">Applicance tech</option>
					<option value="7">Service tech</option>
					<option value="8">Electrical installer</option>
					<option value="9">Electrical engeneer</option>
					<option value="10">Electrical</option>
					<option value="11">Electrical inspector</option>
					<option value="12">Other</option>
			</select>
		</p>
		<p>
			<label for="course">Course:</label>
			<label><input type="radio" class="radio" name="course" value="ref_only" />Refresher only</label>
			<label><input type="radio" class="radio" name="course" value="ref_fa" />Refresher + First aid</label>
			<label><input type="radio" class="radio" name="course" value="fa_only" />First aid only</label>            
        </p>

		<p>
			<div class="g-recaptcha" data-sitekey="6Lf0ExEUAAAAALrslmkYVs0WaucAGf6erteHzTRv"></div>

			<input class="btn" type="submit" name="submit" value="Submit" />
		</p>
	</form>
</fieldset>
