<div class="row">
    <div class="medium-4">
        <div class="container">
        <fieldset>

<form>
<ul class="course">
{% for option in site.data.courses %}
        <li>
            <div class="course_option">
                <input type="radio" id="{{ option.shortname }}" name="selector">
                <div class="course_details">

                    <div class="course_time">{{ option.date }} - {{ option.time }}</div>
                    <label for="{{ option.shortname }}">{{ option.title }}</label>
                </div>
                <div class="course_description">{{ option.description }}</div>
                <div class="check"></div>
            </div>
        </li>

{% endfor %}
</ul>
</form>
</fieldset>
</div>
</div>
</div>
