
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<fieldset>
<form method="post" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>#enrol">
		<h2>Enrolment Form </h2>
		<a name="enrol"></a>
		<p>Electrical re-registration training.  <br>Please complete all fields in full.</p>
		<label><span class="error"><?php echo $errMsg; ?></span></label>
	  <label for="text_field">First name:  <span class="error"><?php echo $first_nameErr;?></span></label>
	  <input type="text" name="first_name" value="<?php echo $first_name;?>" required="true"/>

		<label for="text_field">Last name:  <span class="error"><?php echo $last_nameErr;?></span></label>
		<input type="text" name="last_name" value="<?php echo $last_name;?>" required="true"/>

		<label for="text_field">Postal address:  <span class="error"><?php echo $addressErr;?></span></label>
		<input type="text" name="address" value="<?php echo $address;?>" required="true"/>

		<label for="text_field">City:  <span class="error"><?php echo $cityErr;?></span></label>
		<input type="text" name="city" value="<?php echo $city;?>" required="true"/>

		<label for="text_field">Post code:  <span class="error"><?php echo $postcodeErr;?></span></label>
		<input type="text" name="postcode" value="<?php echo $postcode;?>" required="true"/>

		<label for="text_field">Phone:  <span class="error"><?php echo $phoneErr;?></span></label>
		<input type="text" name="phone" value="<?php echo $phone;?>" required="true"/>

		<label for="text_field">Email address:  <span class="error"><?php echo $emailErr;?></span></label>
		<input type="text" name="email" value="<?php echo $email;?>" required="true"/>

		<label for="text_field" >EW ID number:  <span class="error"><?php echo $ew_idErr;?></span></label>
		<input type="text" name="ew_id" placeholder="E 123456" value="<?php echo $ew_id;?>" />

		<label for="text_field" >EW registration number:  <span class="error"><?php echo $ew_regErr;?></span></label>
		<input type="text" name="ew_reg" placeholder="EW123789" value="<?php echo $ew_reg;?>" />

		<p style="width: 28.5em;">
			<label for="reg_type">Registration type:</label>
			<select name="reg_type" style="width: 100%;">
				<option value="OTHER">Other</option>
				<option value="AT">Associated Tradesperson</option>
				<option value="CJ">Cable Jointer</option>
				<option value="LMD">Distribution Line Mechanic</option>
				<option value="LMDQ">Distribution Line Mechanic  (Endorsed)</option>
				<option value="EAS">Electrical Appliance Serviceperson</option>
				<option value="EASQ">Electrical Appliance Serviceperson (Disconnect/Reconnect)</option>
				<option value="EE">Electrical Engineer</option>
				<option value="EE - *">Electrical Engineer - Registration with Limitations</option>
				<option value="I">Electrical Inspector</option>
				<option value="IM">Electrical Inspector (Endorsed Mining)</option>
				<option value="EI">Electrical Installer</option>
				<option value="EI - *">Electrical Installer (with limits)</option>
				<option value="EST">Electrical Service Technician</option>
				<option value="E" selected="selected">Electrician</option>
				<option value="EM">Electrician (Endorsed Mining)</option>
				<option value="SM">Substation Maintainer</option>
				<option value="LMTR">Traction Line Mechanic</option>
				<option value="LMTM">Transmission Line Mechanic</option>
			</select>
		</p>
		<p style="width: 28.5em;">
			<label for="pl_exp" >Practise license expiry date:<span class="error"><?php echo $pl_expErr;?></span></label>
			<input type="date" name="pl_exp" value="<?php echo $pl_exp;?>" required="true" />
		</p>
		<div class="selectors" sytle="width: 100%;">
		<p style="width: 50%; float: left;">
			<label for="course">Course type:  <span class="error"><?php echo $courseErr;?></span></label>
			<label><input type="radio" class="radio" name="course"
				<?php
					$course = !empty($course)?$course:'';
					if(isset($course) && $course=="Ref_only") echo "checked";?>
				value="Ref_only" />Refresher only</label>
			<label><input type="radio" class="radio" name="course"
				<?php if(isset($course) && $course=="Ref+Fa") echo "checked";?>
				value="Ref+Fa" />Refresher + First aid</label>
			<label><input type="radio" class="radio" name="course"
				<?php if(isset($course) && $course=="Fa_only") echo "checked";?>
				value="Fa_only" />First aid only</label>
		</p>

		<p style="width: 50%; float: right;">
			<label for="date">Course date:  <span class="error"><?php echo $course_dateErr;?></span></label>
			<label class="classDates"><input type="radio" class="radio" name="course_date"
				<?php
					$course_date = !empty($course_date)?$course_date:'';
					if(isset($course_date) && $course_date=="Next") echo "checked";?>
				value="Next" />Next: Join group course </label>
			<label><input type="radio" class="radio" name="course_date"
				<?php if(isset($course_date) && $course_date=="Other") echo "checked";?>
				value="Other" />Other</label>
		</p>
	</div>
		<p>
			<label><input type="checkbox" name="ewrb_complete"
				<?php if(isset($ewrb_complete) && $ewrb_complete=="elearning_completed") echo "checked";?>
			value="elearning_completed" /> I have completed EWRB E-learning modules or can
provide evidence of completion</label>
		</p>
		<p>
			<div class="g-recaptcha" data-sitekey="6Lf0ExEUAAAAALrslmkYVs0WaucAGf6erteHzTRv"></div>
			<label><span class="error"><?php echo $errMsg; ?></span></label>
			<input class="btn" type="submit" name="submit" value="Submit" />
		</p>
	</form>
</fieldset>
