<fieldset>
	<form>
		<h2>Form Element</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>
		<label for="text_field">First name:</label>
		<input type="text" id="first_name" />
		<label for="text_field">Last name:</label>
		<input type="text" id="last_name" />
		<label for="text_field">Street address:</label>
		<input type="text" id="address" />
		<label for="text_field">City:</label>
		<input type="text" id="city" />
		<label for="text_field">Post code:</label>
		<input type="text" id="postcode" />
		<label for="text_field">Phone:</label>
		<input type="text" id="phone" />
		<label for="text_field">Email address:</label>
		<input type="text" id="email" />
		<label for="text_field">EW ID number:</label>
		<input type="text" id="ew_id" />
		<label for="text_field">EW registration number:</label>
		<input type="text" id="ew_reg" />
		<p>
			<label for="reg_type">Registration type:</label>
			<select name="reg_type">
					<option value="1">Trainee</option>
					<option value="2">Substation maintener</option>
					<option value="3">Cable jointer</option>
					<option value="4">Distribution line mechanic</option>
					<option value="5">Associated trades person</option>
					<option value="6">Applicance tech</option>
					<option value="7">Service tech</option>
					<option value="8">Electrical installer</option>
					<option value="9">Electrical engeneer</option>
					<option value="10">Electrical</option>
					<option value="11">Electrical inspector</option>
					<option value="12">Other</option>
			</select>
		</p>
		<p>
			<label for="radio_buttons">Course:</label>
			<label><input type="radio" class="radio" name="radio_button" value="ref_only" />Refresher only</label>
			<label><input type="radio" class="radio" name="radio_button" value="ref_fa" />Refresher + First aid</label>
			<label><input type="radio" class="radio" name="radio_button" value="fa_only" />First aid only</label>
		</p>

		<p>
			<input class="btn" type="submit" value="Submit" />
		</p>
	</form>
</fieldset>
